@font-face {
    font-family: 'inter';
    src: url('fonts/Inter_28pt-Medium.ttf');
}

@font-face {
    font-family: 'inter-mi';
    src: url('fonts/Inter_18pt-MediumItalic.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    width: 100%;
    background-color: #0b090a;
    color: #fff;
    font-family: inter;
}

/* navbar styles */
nav {
    height: 10vh;
    width: 88%;
    border-bottom: 1px solid #ffffff78;
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    height: 10vh;
    width: 14vw;
    margin-left: -3vw;
}

nav .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav .navigations ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

nav .navigations ul li {
    list-style: none;
}

nav .navigations ul li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 2vh;
    font-weight: 600;
    text-decoration: none;
}

nav .navigations ul li a button {
    height: 6vh;
    width: 12vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: inter;
    background-color: transparent;
    padding-left: 2.5vh;
    border: none;
    cursor: pointer;
}

nav .navigations ul li a button p {
    position: absolute;
    z-index: 9;
    transition: transform ease-in-out 0.5s;
    font-size: 2vh;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

nav .navigations ul li a button .button-right {
    height: 100%;
    width: 100%;
    background-color: #0DA34E;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 2vh;
    transform-origin: right;
    position: absolute;
    right: 0;
    top: 0;
    transition: width ease-in-out 0.5s;
    border-radius: 50px;
}

nav .navigations ul li a button .button-right i {
    position: absolute;
    font-size: 3vh;
    color: #fff;
    transition: all ease-in-out 0.4s;
}

nav .navigations ul li a button .button-right .transition-to {
    font-weight: 700;
    font-size: 4.5vh;
    transform: translateX(0.8vh);
    opacity: 0;
}

nav .navigations ul li a button:hover p {
    transform: translateX(-0.5vw);
}

nav .navigations ul li a button:hover .button-right {
    width: 28%;
}

nav .navigations ul li a button:hover .button-right .transition-to {
    opacity: 1;
}

nav .navigations ul li a button:hover .button-right .transition-from {
    opacity: 0;
}


/* page 1 styles */
.page1 {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.page1 h1 {
    font-size: 12vh;
    text-transform: capitalize;
}

.page1 h1 span {
    /* font-family: inter-mi; */
    color: #ffffff89;
}

.page1 p {
    font-size: 3vh;
    margin-top: 6vh;
}

.intro-line{
    display: flex;
    gap: 1vh;
}

#typed-text {
    display: inline;
    white-space: nowrap;
    width: max-content;
    color: #ffffff;
    height: fit-content;
}

.typed-cursor {
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    animation: blink 0.7s infinite;
    color: #fff;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.page1 p span {
    color: #0DA34E;
}

.page2 {
    height: 100vh;
    width: 100%;
}